# String နဲ့ Variable တွေ အကြောင်း

## Strings

String ဆိုတာ Text data type ဖြစ်တယ်။ 

တချိန်တည်းမှာပဲ String ဟာ `list` တခု ဖြစ်တယ်။ (`list` အကြောင်းကို နောက်အပါတ်မှာ ပြောမည်။)

In [1]:
print ("1234567890"[0]) # it will print '1'
print ("1234567890"[1:3]) # it will print '23'

1
23

In [6]:
print ("my string in lower case".lower())

my string in lower case

In [5]:
# try to print the result of the "lower()" method of the string "THIS STRING IS ALL CAPS"
print ("my string is in all caps".upper())

MY STRING IS IN ALL CAPS

In [12]:
print ("string in lower case".upper()) # this will print "STRING IN LOWER CASE"
print ("STRING in UPPER Case".lower()) # this will print "string in upper case"
print (" ".join([str(1), str(2), str(3)])) # this will print "1 2 3"
print(" ".join(["1","2","3"]))# this will print "1 2 3"
print ("xxx".join(["a", str(2), str(99.9)])) # this will print "axxx2xxx99.9"

STRING IN LOWER CASE
string in upper case
1 2 3
1 2 3
axxx2xxx99.9

### Exercises

String နဲ့ ပတ်သက်တဲ့ လေ့ကျင့်ခန်းတွေ လုပ်ကြမယ်။

In [22]:
print("My name is {} and live in {}".format("Mi Mi","SG")) #placeholder
print("My name is {fname}, I'm {age}".format(fname ="John", age =36))
print("My name is {0}, I'm {1}".format("John",36))
print("My name is {}, I'm {}".format("John",36))

My name is Mi Mi and live in SG
My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [30]:
print("My name is {name} and have {num} friends.".format(name="Mi", num="10")

SyntaxError: ignored

In [8]:
# ဒီ cell ကို run လိုက်ပါ။
!git clone https://github.com/neolaw84/data_science_using_python_labs.git
%cd week02

Cloning into 'data_science_using_python_labs'...
remote: Enumerating objects: 55, done.
remote: Counting objects: 100% (55/55), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 55 (delta 28), reused 37 (delta 14), pack-reused 0
Unpacking objects: 100% (55/55), done.
[Errno 2] No such file or directory: 'week02'
/content

In [9]:
# လေ့ကျင့်ခန်း အနေနဲ့ အောက်ပါ output ထုတ်ပေးတဲ့ program ကို ရေးပါ။ Multi-line String (""" xxx """) မသုံးရ
# I'm a string,
# said, "A piece of data"
print("I'm a string,")
print('said, "A piece of data"')

I'm a string,
said, "A piece of data"

In [17]:
%cd /content/data_science_using_python_labs/week02

/content/data_science_using_python_labs/week02

In [18]:
# အပေါ်က ရေးထားတဲ့ program ကို lab_string.py ထဲကို ရေးထည့်ပါ
%%writefile lab_string.py
print("I'm a string,")
print('said, "A piece of data"')

Writing lab_string.py

In [19]:
# ပြီးရင် စမ်းပါ
!pytest test_string.py

============================= test session starts ==============================
platform linux -- Python 3.7.12, pytest-3.6.4, py-1.11.0, pluggy-0.7.1
rootdir: /content/data_science_using_python_labs/week02, inifile:
plugins: typeguard-2.7.1
collected 1 item

test_string.py .                                                         [100%]

=========================== 1 passed in 0.01 seconds ===========================

## Variables

In [31]:
a = int(4.2) # a will have value 4 of type integer
b = float(42) # b will have a value 42.0 of type float
print (type(a), type(b))

<class 'int'> <class 'float'>

In [32]:
# what will this cell print ?
a = 5//2
print (a)
b = 5/2
print (b)
c = 1 + 1
print (c)
d = a + b//c
print (d)

2
2.5
2
3.0


### Exercises

Variable နဲ့ ပတ်သက်တဲ့ လေ့ကျင့်ခန်းတွေ လုပ်ကြမယ်။

1. lab_variable_1.py ကို ရေးပါ။ ပြီးရင် test_variable_1.py နဲ့ စမ်းပါ။
variable 'a' ထဲကို integer တန်ဖိုး 10 ထည့်ပါ။ variable 'b' ထဲကို float တန်ဖိုး 10.0 ထည့်ပါ။ variable 'c' ထဲကို boolean တန်ဖိုး False ထည့်ပါ။

2. lab_variable_2.py ကို ရေးပါ။ ပြီးရင် test_variable_2.py နဲ့ စမ်းပါ။
variable 'price' ထဲကို float တန်ဖိုး 99.99 ထည့်ပါ။ variable 'quantity' ထဲကို integer တန်ဖိုး 5 ထည့်ပါ။ variable 'VAT' ထဲကို float တန်ဖိုး 0.10 ထည့်ပါ။ 99.99 တန် ပစ္စည်း 5 ခု ဝယ်လျှင် Value Added Tax (VAT) 10% ထည့်ပေါင်းအပြီး ရှင်းရမည့် ငွေပမာဏကို variable 'total' ထဲ ထည့်ပါ။

3. Geometry shape များဖြစ်သည့် Rectangle, Circle, Triagle များ၏ Area တွက်သည့် Function များကို အောက်တွင် ပေးထားသည်။ ၄င်းကို lab_variable_3.py ထဲ ရေးပါ။ ပြီးရင် test_variable_3.py နဲ့ စမ်းပါ။
```python
def area_of_rectangle(length, breadth):
    # variable 'area' ထဲသို့ ပေးထားသော rectangle ၏ area တွက်ထည့်ပါ။
    return area

from math import pi
def area_of_circle(radius):
    # constant 'pi' နှင့် variable 'radius' တို့ကို အသုံးပြုပြီး variable 'area' ထဲသို့ circle ၏ area တွက်ထည့်ပါ။
    return area

def area_of_triangle(base, height):
    # variable 'area' ထဲသို့ triangle ၏ area တွက်ထည့်ပါ။
    return area
```

In [46]:
def area_of_rectangle(length, breadth):
 # variable 'area' ထဲသို့ ပေးထားသော rectangle ၏ area တွက်ထည့်ပါ။

return area

SyntaxError: ignored

In [37]:
print(3/2) #modular division
print(3//2) #integer division
print(7%3)

1.5
1
1

In [ ]:
def area_of_triangle(b,h):
# variable 'area' ထဲသို့ triangle ၏ area တွက်ထည့်ပါ။
print 
return area